<!DOCTYPE html>
<html>
<head>
	<!--Let browser know website is optimized for mobile-->
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="stylesheets/moxo_custom.css" />
	<!-- Font -->
	<link rel="stylesheet" type="text/css" href="stylesheets/fontello/fontello.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/icomoon/icomoon.css" />
	<!--Import materialize.css-->
	<link rel="stylesheet" type="text/css" href="stylesheets/fonticonpicker/jquery.fonticonpicker.min.css" />	
	<link type="text/css" rel="stylesheet" href="stylesheets/custom-app.css">
	<link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css">
	<!-- <link type="text/css" rel="stylesheet" href="https://cdn.rawgit.com/chingyawhao/materialize-clockpicker/master/dist/css/materialize.clockpicker.css">	 -->
	<link rel="stylesheet" href="stylesheets/fontselect.css">
	
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap" rel="stylesheet">
</head>

<body>
		
	<div
	style = "display:<%= userDataObj.Settingdrafts[0].EnableDisableNotificationBar == 'checked' ? 'block' : 'none' %>"
	class="preview-card fixed">
		<p>PREVIEW</p>
		<div id="bar" class="moxo_bar fixed">
			<div id="holder"
			style = "background-color:#<%=userDataObj.Settingdrafts[0].BackgroundColor%>"
			class="moxo_holder">
				<div class="countdown style1">
					<div class="timer day"><span class="countdown_value">07</span> <span class="countdown_label">Day</span></div>
					<div class="timer hours"><span class="countdown_value">01</span> <span class="countdown_label">Hours</span></div>
					<div class="timer min"><span class="countdown_value">33</span> <span class="countdown_label">Min</span></div>
					<div class="timer sec"><span class="countdown_value">22</span> <span class="countdown_label">Sec</span></div></div>
				<div class="moxo-textbar">
					<span
					style = "font-family:'<%= userDataObj.Settingdrafts[0].TitleFontFamily%>';
					font-size:<%=userDataObj.Settingdrafts[0].TitleFontsize%>px;
					color:#<%=userDataObj.Settingdrafts[0].TitleTextColor%>;
					background-color:#<%=userDataObj.Settingdrafts[0].TitleBGColor%>"

					id="title" name="title" class="moxo_title"><%= userDataObj.Settingdrafts[0].title %></span
						>
					<span 
					style = "font-family:'<%= userDataObj.Settingdrafts[0].MessageFontFamily%>';
					font-size:<%=userDataObj.Settingdrafts[0].MessageFontSize%>px;
					color:#<%=userDataObj.Settingdrafts[0].MessageTextColor%>;
					background-color:#<%=userDataObj.Settingdrafts[0].MessageBGColor%>"

					id="message" class="moxo_message moxo_message_cta"><%-userDataObj.Settingdrafts[0].textarea1%> </span>
				</div>
				<div class="moxo_btn_holder">
					<a id="button" href="<%= userDataObj.Settingdrafts[0].ButtonURL%>" 
						style = "font-family:'<%= userDataObj.Settingdrafts[0].ButtonFontFamily%>';
								font-size:<%=userDataObj.Settingdrafts[0].ButtonFontsize%>px;
								color:#<%=userDataObj.Settingdrafts[0].BtnTextColor%>;
								background-color:#<%=userDataObj.Settingdrafts[0].BtnBGColor%>;
								border-radius:<%=userDataObj.Settingdrafts[0].BtnButtonRadius%>px"
						class="moxo_bar_btn <%=userDataObj.Settingdrafts[0].Buttonstyles%>">
						<%= userDataObj.Settingdrafts[0].ButtonLabel%>
					</a>
				</div>			
			</div>
			<div id="notiClose"
			style = "color:#<%=userDataObj.Settingdrafts[0].CloseBtnBgColor%>;
			border-radius:<%=userDataObj.Settingdrafts[0].ButtonRadius%>px;
			display:<%= userDataObj.Settingdrafts[0].EnableDisableCloseButton == 'checked' ? 'block' : 'none' %>"
			class="moxo_closebar <%=userDataObj.Settingdrafts[0].CloseButtonType%>">
				<i id="notiCloseColor"
					style = "color:#<%=userDataObj.Settingdrafts[0].CloseBtnTextColor%>;"
					class="<%=userDataObj.Settingdrafts[0].Icons%>">
				</i>
			</div>
			<div class="bg-section"></div>
		</div>
	</div
	>
	<!-- /sf-notification/shopify/save-settings -->
	<form action="javascript:void(0)" method="post" id="settingForm" >
		<div class="moxo-container moxo-wrapper">
		
			<div class="moxo-row mb-4">
				<div class="moxo-col-12">
					<ul class="tabs">
						<li class="tab"><a href="#test1" class="active" >Dashboard</a></li>
						<li class="tab"><a href="#test2">App Setup</a></li>
						<li class="tab"><a href="#test3">FAQ's</a></li>
						<li class="tab"><a href="#test4">Pricing & Plans</a></li>
					</ul>
				</div>
				<div class="moxo-col-12">
					<div class="moxo-block">
						<div class="moxo-header"> 
							<i class="tiny material-icons">settings_power</i>
							<span>General Setting</span>
						</div>
						<div class="moxo-block-inner">
							<div class="switch mb-3">
								<span class="moxo-element">Enable/Disable Notification Bar</span>
								<label>
									Off
									<input <%= userDataObj.Settingdrafts[0].EnableDisableNotificationBar %> name="EnableDisableNotificationBar" type="checkbox" class="notiMain_toggle">
									<span class="lever"></span>
									On
								</label>
							</div>						
							<div class="radio">								
								<span class="moxo-element">Position Notification Bar</span>
								<label>
									<input name="position" value="top" class="notiMain_position" type="radio" checked>
									<span>Top</span>
								</label>
								<label>
									<input name="position" value="bottom" class="notiMain_position" type="radio"/>
									<span>Bottom</span>
								</label>								
																					
							</div>						
							<div class="radio">								
								<span class="moxo-element">Top Sticky</span>
								<label>
									<input name="sticky" type="radio" value="fixed" class="notiMain_sticky" checked>
									<span>Fixed</span>
								</label>								
								<label>
									<input name="sticky" type="radio" value="scroll" class="notiMain_sticky">
									<span>Scroll</span>
								</label>													
							</div>						
							<button type="button" name="action" class="moxo_btn">Save
								<i class="material-icons">send</i>
							</button>						
						</div>					
					</div>
				</div>
			</div>
			
			<div class="moxo-row mb-4">			
				
				<div class="moxo-col-12">
					<div class="moxo-header">
							<i class="tiny material-icons">color_lens</i>
							<span>Design Configurator</span>
					</div>
				</div>
				<div class="moxo-col-12">
					<div class="moxo-block">
						<div class="moxo-block-inner">
							<span class="tagline">Notification Bar Background Pattern Style :-</span>
							<div class="moxo-row">
								<div class="moxo-col-6">
									<span class="moxo-element">Background Color :</span>
									<input name="BackgroundColor" class="jscolor {onFineChange:'holder(this)'}" value="<%= userDataObj.Settingdrafts[0].BackgroundColor %>">
								</div>
								<div class="moxo-col-6">
									<span class="moxo-element">Background Image :</span>
									<a href="javascript:void(0)" class="clear_bg">clear</a>
									<div class="file is-boxed">
										<label class="file-label">
											<input class="file-input" type="file" name="resume">
											<span class="file-cta">
												<span class="file-icon">
													<i class="tiny material-icons">file_upload</i>
												</span>
												<span class="file-label">
													Choose a file.
												</span>
											</span>
										</label>
									</div>								
								</div>
							</div>
						</div>	
					
					</div>
				</div>
			</div>
			
			<div class="moxo-row mb-4">
				<div class="moxo-col-12">
					<div class="moxo-block">
						<div class="moxo-header">
							<i class="tiny material-icons">edit</i>
							<span>Text Configurator</span>
						</div>
						<div class="moxo-block-inner">								
							<div class="title-text">
								<span class="moxo-element"> Title </span>
								<input id="ttl" name="title" value="<%= userDataObj.Settingdrafts[0].title %>" placeholder="Title"  type="text" class="title-typing validate">
							</div>
							<div class="moxo-row">
								<div class="input-field moxo-col-6 mt-4">
									<span class="moxo-element">Title Font-Family</span>
									<input name="TitleFontFamily" type="text" value="<%= userDataObj.Settingdrafts[0].TitleFontFamily%>" class="title_fonts">
								</div>							
								<div class="input-field moxo-col-6 mt-4">
									<span class="moxo-element">Title Font-size</span>
									<input name="TitleFontsize" class="title_font_size" type="range" min="10" max="20" value="<%= userDataObj.Settingdrafts[0].TitleFontsize ? userDataObj.Settingdrafts[0].TitleFontsize.replace('px','') : ''%>"  />
								</div>
								<div class="input-field moxo-col-6 mt-4">
									<span class="moxo-element">Title Text Color</span>								
									<input name="TitleTextColor" class="jscolor {onFineChange:'ttltxt(this)'}" value="<%= userDataObj.Settingdrafts[0].TitleTextColor%>">
								</div>
								<div class="input-field moxo-col-6 mt-4">
									<span class="moxo-element">Title BG Color</span>	
									<input name="TitleBGColor" class="jscolor {onFineChange:'ttlbg(this)'}" value="<%= userDataObj.Settingdrafts[0].TitleBGColor%>">
								</div>	
							</div>
							
							<div class="message-content mt-4">
								<span class="moxo-element"> Message </span>
								<div class="message-text">								
									<p id="textarea1" name="textarea1" class="moxo_barText" contenteditable="true"><%= userDataObj.Settingdrafts[0].textarea1%></p>
									<button class='b_btn moxo_btn'>B</button>
									<button class='i_btn moxo_btn'>I</button>
								</div>
							</div>
							<div class="moxo-row">
								<div class="input-field moxo-col-6 mt-4">
									<span id="font_p" class="moxo-element">Message Font Family</span>
									<input name="MessageFontFamily" type="text" value="<%= userDataObj.Settingdrafts[0].MessageFontFamily%>" class="msg_fonts">								
								</div>
								<div class="input-field moxo-col-6 mt-4">
									<span class="moxo-element">Message Font Size</span>
									<input name="MessageFontSize" class="msg_font_size" type="range" min="10" max="20" value="<%= userDataObj.Settingdrafts[0].MessageFontSize ? userDataObj.Settingdrafts[0].MessageFontSize.replace('px','') : ''%>"  />								
								</div>
								<div class="input-field moxo-col-6 mt-4">
									<span class="moxo-element">Message Text Color</span>
									<input name="MessageTextColor" class="jscolor {onFineChange:'msgtxt(this)'}" value="<%= userDataObj.Settingdrafts[0].MessageTextColor%>">								
								</div>
								<div class="input-field moxo-col-6 mt-4">
									<span class="moxo-element">Message BG Color</span>
									<input name="MessageBGColor" class="jscolor {onFineChange:'msgbg(this)'}" value="<%= userDataObj.Settingdrafts[0].MessageBGColor%>">							
								</div>										
							</div>
						</div>							
					</div>
				</div>
			</div>
										
			<div class="moxo-row mb-4">
				<div class="moxo-col-12">
					<div class="moxo-block">
						<div class="moxo-header">
								<i class="tiny material-icons">brightness_auto</i>
								<span>Button Configurator</span>
						</div>
						<div class="moxo-block-inner">
							<div class="moxo-row">	
								<div class="button-text moxo-col-6 mb-4">
									<span class="moxo-element"> Button Label</span>	
									<input value="<%= userDataObj.Settingdrafts[0].ButtonLabel%>" name="ButtonLabel" id="btn" type="text" placeholder="Button Text"  class="btn-text validate">
								</div>
								<div class="button-text moxo-col-6 mb-4">
									<span class="moxo-element"> Button URL</span>
									<input value="<%= userDataObj.Settingdrafts[0].ButtonURL%>" name="ButtonURL" id="btn-url" placeholder="Button URL" type="text" class="btn-url validate">
								</div>
							</div>
							<div class="moxo-row">
								<div class="moxo-col-6 mb-4">
									<span class="moxo-element">Button Font-Family</span>
									<input value="<%= userDataObj.Settingdrafts[0].ButtonFontFamily%>" name="ButtonFontFamily" type="text" class="btn_fonts">									
								</div>
								<div class="moxo-col-6 mb-4">
									<span class="moxo-element">Button Font-size</span>
									<input name="ButtonFontsize" class="btn_font_size" type="range" min="10" max="20" value="<%= userDataObj.Settingdrafts[0].ButtonFontsize%>"  />
								</div>
								<div class="button-color moxo-col-md-3 moxo-col-6 mt-auto">
									<span class="moxo-element">Text Color</span>
									<input name="BtnTextColor" class="jscolor {onFineChange:'btntxt(this)'}" value="<%= userDataObj.Settingdrafts[0].BtnTextColor%>">
								</div>
								<div class="button-color moxo-col-md-3 moxo-col-6 mt-auto">
									<span class="moxo-element">BG Color</span>
									<input name="BtnBGColor" class="jscolor {onFineChange:'btnbg(this)'}" value="<%= userDataObj.Settingdrafts[0].BtnBGColor%>">
								</div>
								<div class="button-bg-color moxo-col-6">
									<span class="moxo-element">Button styles</span>
									<select name="Buttonstyles" class="browser-default btn_style">
										<option selected>Choose your option </option>
										<option selected="<%=userDataObj.Settingdrafts[0].Buttonstyles == 'minimal' ? 'selected' : '' %>" value="minimal">minimal</option>
										<option selected="<%=userDataObj.Settingdrafts[0].Buttonstyles == 'fill' ? 'selected' : '' %>" value="fill">fill</option>
										<option selected="<%=userDataObj.Settingdrafts[0].Buttonstyles == 'outline' ? 'selected' : '' %>" value="outline">outline</option>
									</select>									
								</div>	
								<div class="moxo-col-6 mt-4">
									<span class="moxo-element">Button Radius</span>
									<input name="BtnButtonRadius" class="btn_radius" type="range" min="0" max="25" value="<%= userDataObj.Settingdrafts[0].BtnButtonRadius%>"  />
								</div>
							</div>						
						</div>
						
					</div>
				</div>
			</div>
			
			<div class="moxo-row mb-4">
				<div class="moxo-col-12">
					<div class="moxo-block">
						<div class="moxo-header">
								<i class="tiny material-icons">close</i>
								<span>Close Button Configurator</span>
						</div>
						<div class="moxo-block-inner">								
							<div class="switch">
								<span class="tagline">Enable/Disable Close Button</span>
								<label>
									Off
									<input <%= userDataObj.Settingdrafts[0].EnableDisableCloseButton %> name="EnableDisableCloseButton" type="checkbox" class="notiClose_toggle">
									<span class="lever"></span>
									On
								</label>
							</div>
							<div class="moxo-row">
								<div class="moxo-col-md-2 moxo-col-6 mt-auto">
									<span class="moxo-element">Icon's</span>
									<select name="Icons" class="browser-default e1_element" name="e1_element">
										<option value="">No icon</option>
										<option selected="<%=userDataObj.Settingdrafts[0].Icons == 'icon-user' ? 'selected' : '' %>" value="icon-user">icon-user</option>
										<option selected="<%=userDataObj.Settingdrafts[0].Icons == 'icon-search' ? 'selected' : '' %>" value="icon-search">icon-search</option>
										<option selected="<%=userDataObj.Settingdrafts[0].Icons == 'icon-right-dir' ? 'selected' : '' %>" value="icon-right-dir">icon-right-dir</option>
										<option selected="<%=userDataObj.Settingdrafts[0].Icons == 'icon-star' ? 'selected' : '' %>" value="icon-star">icon-star</option>
										<option selected="<%=userDataObj.Settingdrafts[0].Icons == 'icon-cancel' ? 'selected' : '' %>" value="icon-cancel">icon-cancel</option>
										<option selected="<%=userDataObj.Settingdrafts[0].Icons == 'icon-help-circled' ? 'selected' : '' %>" value="icon-help-circled">icon-help-circled</option>
										<option selected="<%=userDataObj.Settingdrafts[0].Icons == 'icon-info-circled' ? 'selected' : '' %>" value="icon-info-circled">icon-info-circled</option>
										<option selected="<%=userDataObj.Settingdrafts[0].Icons == 'icon-eye' ? 'selected' : '' %>" value="icon-eye">icon-eye</option>
										<option selected="<%=userDataObj.Settingdrafts[0].Icons == 'icon-tag' ? 'selected' : '' %>" value="icon-tag">icon-tag</option>
										<option selected="<%=userDataObj.Settingdrafts[0].Icons == 'icon-bookmark' ? 'selected' : '' %>" value="icon-bookmark">icon-bookmark</option>
										<option selected="<%=userDataObj.Settingdrafts[0].Icons == 'icon-heart' ? 'selected' : '' %>" value="icon-heart">icon-heart</option>
										<option selected="<%=userDataObj.Settingdrafts[0].Icons == 'icon-thumbs-down-alt' ? 'selected' : '' %>" value="icon-thumbs-down-alt">icon-thumbs-down-alt</option>
										<option selected="<%=userDataObj.Settingdrafts[0].Icons == 'icon-upload-cloud' ? 'selected' : '' %>" value="icon-upload-cloud">icon-upload-cloud</option>
										<option selected="<%=userDataObj.Settingdrafts[0].Icons == 'icon-phone-squared' ? 'selected' : '' %>" value="icon-phone-squared">icon-phone-squared</option>
										<option selected="<%=userDataObj.Settingdrafts[0].Icons == 'icon-cog' ? 'selected' : '' %>" value="icon-cog">icon-cog</option>
										<option selected="<%=userDataObj.Settingdrafts[0].Icons == 'icon-wrench' ? 'selected' : '' %>" value="icon-wrench">icon-wrench</option>
										<option selected="<%=userDataObj.Settingdrafts[0].Icons == 'icon-volume-down' ? 'selected' : '' %>" value="icon-volume-down">icon-volume-down</option>
										<option selected="<%=userDataObj.Settingdrafts[0].Icons == 'icon-down-dir' ? 'selected' : '' %>" value="icon-down-dir">icon-down-dir</option>
										<option selected="<%=userDataObj.Settingdrafts[0].Icons == 'icon-up-dir' ? 'selected' : '' %>" value="icon-up-dir">icon-up-dir</option>
										<option selected="<%=userDataObj.Settingdrafts[0].Icons == 'icon-left-dir' ? 'selected' : '' %>" value="icon-left-dir">icon-left-dir</option>
										<option selected="<%=userDataObj.Settingdrafts[0].Icons == 'icon-thumbs-up-alt' ? 'selected' : '' %>" value="icon-thumbs-up-alt">icon-thumbs-up-alt</option>
									</select>
										
								</div>
								<div class="button-color moxo-col-md-2 moxo-col-6 mt-auto">
									<span class="moxo-element">Text Color</span>
									<input name="CloseBtnTextColor" class="jscolor {onFineChange:'btn_close_txt(this)'}" value="<%= userDataObj.Settingdrafts[0].CloseBtnTextColor%>">
								</div>
								<div class="button-color moxo-col-md-2 moxo-col-6 mt-auto">
									<span class="moxo-element">BG Color</span>
									<input name="CloseBtnBgColor" class="jscolor {onFineChange:'btn_close_bg(this)'}" value="<%= userDataObj.Settingdrafts[0].CloseBtnBgColor%>">
								</div>
								<div class="moxo-col-6 mt-3">
									<span class="moxo-element"> Close Button Type</span>
									<select name="CloseButtonType" class="browser-default btn_close_style">
										<option selected>Choose your option </option>
										<option selected="<%=userDataObj.Settingdrafts[0].CloseButtonType == 'minimal' ? 'selected' : '' %>" value="minimal">minimal</option>
										<option selected="<%=userDataObj.Settingdrafts[0].CloseButtonType == 'fill' ? 'selected' : '' %>" value="fill">fill</option>
										<option selected="<%=userDataObj.Settingdrafts[0].CloseButtonType == 'outline' ? 'selected' : '' %>" value="outline">outline</option>
									</select>	
								</div>
								<div class="moxo-col-6 mt-4">
									<span class="moxo-element">Button Radius</span>
									<input name="ButtonRadius" class="btn_close_radius" type="range" min="0" max="25" value="<%= userDataObj.Settingdrafts[0].ButtonRadius%>"  />
								</div>
							</div>								
						</div>					
					</div>
				</div>
			</div>
			
			<div class="moxo-row mb-4">
				<div class="moxo-col-12">
					<div class="moxo-block">
						<div class="moxo-header">
								<i class="tiny material-icons">plus_one</i>
								<span>Countdown Configurator</span>
						</div>
						<div class="moxo-block-inner">								
							<div class="switch">
								<span class="tagline">Enable/Disable Countdown Section</span>
								<label>
									Off
									<input value="<%= userDataObj.Settingdrafts[0].EnableDisableCountdownSection%>" name="EnableDisableCountdownSection" type="checkbox" class="notiCountdown_toggle" checked>
									<span class="lever"></span>
									On
								</label>
							</div>
							<div class="moxo-row mt-3">
								<div class="moxo-col-md-6 moxo-col-12 mb-4">
									<span class="moxo-element">Start Time </span>
									<input value="<%= userDataObj.Settingdrafts[0].StartTime%>" name="StartTime" type="text" id="datetime" class="date_start"  placeholder="Select Date" >
								</div>
								<div class="moxo-col-md-6 moxo-col-12 mb-4">
									<span class="moxo-element">End Time </span>
									<input value="<%= userDataObj.Settingdrafts[0].EndTime%>" name="EndTime" type="text" id="datetimeEnd" class="date_end" placeholder="Select Date">
								</div>									
							</div>
							<div class="moxo-row">
								<div class="moxo-col-6">
									<span class="moxo-element">Countdown Type</span>
									<select name="CountdownType" class="icons">
										<option value="" disabled selected>Choose your style</option>
										<option value="" data-icon="img/111.png" class="left">Simple</option>
										<option value="" data-icon="img/112.png" class="left">Rounded</option>
										<option value="" data-icon="img/113.png" class="left">Circle</option>
										<option value="" data-icon="img/114.png" class="left">Square</option>
									</select>
								</div>
								<div class="moxo-col-6 mt-auto">
									<span class="moxo-element">Text Color</span>
									<input name="CountdownTextColor" class="jscolor {onFineChange:'update(this)'}" value="<%= userDataObj.Settingdrafts[0].CountdownTextColor%>">
								</div>
							</div>
						</div>					
					</div>
				</div>
			</div>
					
			<div class="moxo-row mb-4">
				<div class="moxo-col-12">
					<div class="moxo-block text-center">
						<div class="copy-block">
							<p id="p1">Hello, Welcome.... </p>		
							<button class="moxo_btn tooltipped" data-position="top" data-tooltip="I am a tooltip" onclick="copyToClipboard('#p1')">Copy TEXT</button>
						</div>					
					</div>
				</div>
			</div>
		</div>
		
		<div class="editor_bottom_bar">
			<input type="hidden" value="<%= userDataObj.shop_name %>" name="shop_name" /> 
			<input type="hidden" value="<%= userDataObj.Settings[0].id %>" name="settings_id" /> 
			<input type="hidden" value="<%= userDataObj.Settingdrafts[0].id %>" name="settingdraft_id" /> 
			<input type="hidden" value="<%= userDataObj.id %>" name="user_info_id" /> 
			<button class="moxo_btn moxo_outlined">Cancel</button>
			<button class="moxo_btn moxo_outlined_negative">Delete</button>
			<!---->
			<button id="notification_published_btn" name="published" value="published" class="moxo_btn moxo_outlined moxo_publish">Published</button>
			<button id="notification_done_btn" name="done" value="done" class="moxo_btn moxo_publish_active">Done</button>
		</div>
	</form>
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
	<script type="text/javascript" src="js/materializedatetimepicker.js"></script>
	<script type="text/javascript" src="js/jquery.countdown.min.js"></script>
	<!--color-picker js -->
	<script type="text/javascript" src="addons/js/jscolor.js"></script>
	<!--copy text js -->
	<script type="text/javascript" src="addons/js/copy-text.js"></script>
	
	<script type="text/javascript" src="js/jquery.fontselect.js"></script>
	<!-- fontIconPicker JS -->
	<script type="text/javascript" src="js/jquery.fonticonpicker.min.js"></script>
	<!-- countdown JS -->
	<script type="text/javascript" src="js/countdown.js"></script>
	<script type="text/javascript" src="js/custom-app.js"></script>
	<script type="text/javascript" src="js/admin-app.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function(){
			// console.log('#@',userDataObj)
			
			// let aa = userDataObj.Settingdrafts[0].TitleFontFamily;
			// $('.moxo_title').css('font-family', userDataObj.Settingdrafts[0].TitleFontFamily);
		});
	</script>
</body>
</html>